<div class="btn-group" role="group">
<label class="btn btn-default" ng-model="filterModel.all" tooltip-placement="bottom" tooltip="Everything" btn-checkbox>
  <span class="glyphicon glyphicon-star"></span>
</label>
<label class="btn btn-default" ng-model="filterModel.retail" tooltip-placement="bottom" tooltip="Retail" btn-checkbox>
  <span class="glyphicon glyphicon-cart"></span>
</label>
<label class="btn btn-default" ng-model="filterModel.restaurant" tooltip-placement="bottom" tooltip="Restaurants" btn-checkbox>
  <span class="glyphicon glyphicon-cutlery"></span>
</label>
<label class="btn btn-default" ng-model="filterModel.bar" tooltip-placement="bottom" tooltip="Bars" btn-checkbox>
  <span class="glyphicon glyphicon-glass"></span>
</label>
<label class="btn btn-default" ng-model="filterModel.club" tooltip-placement="bottom" tooltip="Clubs" btn-checkbox>
  <span class="glyphicon glyphicon-cd"></span>
</label>
<label class="btn btn-default" ng-model="filterModel.hackerspace" tooltip-placement="bottom" tooltip="Hackerspaces" btn-checkbox>
  <span class="glyphicon glyphicon-sunglasses"></span>
</label>
</div>
