<div class="text-content" style="overflow-y:auto">

<h1>About MateMonkey</h1>


<div class="row">
  <div class="col-md-1"><h3>Why?</h3></div>
  <div class="col-md-4">
    <p>
    <b>MateMonkey</b> tries to be a worthy successor to the <b>matekarte</b> which
    was orginally made by <a href="https://www.pascalj.de/">Pascal Jungblut</a>
    and taken offline.
    The original dataset of the <b>matekarte</b> has been imported into <b>MateMonkey</b>.
    Using <b>MateMonkey</b>, <a href="https://en.wikipedia.org/wiki/Yerba_mate">Mate</a> drinkers can
    find and add dealers which sell their favorite drink.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-1"><h3>Who?</h3></div>
  <div class="col-md-4">
    <p>
    <b>MateMonkey</b> is a project by <a href="http://www.sourcediver.org/">Maximilian Güntner</a>.
    If you have questions or feedback, you can reach me via <a href="mailto:info@matemonkey.com">email</a>.
    You can also follow <a href="https://twitter.com/matemonkeycom">@matemonkeycom</a> on twitter for updates.
  </div>
</div>

<div class="row">
  <div class="col-md-1"><h3>What?</h3></div>
  <div class="col-md-4">
    <p>
    Using <b>MateMonkey</b> you can not only find a dealer near you that sells a special
    brand of Mate, you can even filter them by type.
    <br>
    You are in charge of choosing the location for tonight? Great! Why not go to a club,
    restaurant or bar that sells Mate (or even <a href="https://entropia.de/Tschunk">Tschunk</a>)!
    </p>
    <p>
    Some dealers are quite expensive even tough a cheaper dealer might just be around the
    corner.<br>
    With <b>MateMonkey</b> you can lookup (and update) the current inventory and prices for each
    dealer.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-1"><h3>How?</h3></div>
  <div class="col-md-4">
    <p>
    <b>Will MateMonkey be opensource?</b><br>
    I haven't decided yet whether the project as a whole will be opensource. I plan to make the frontend
    opensource and put it on <a href="https://github.com/mguentner">GitHub</a> once I am statisfied with
    the sourcecode.
    </p>

    <p>
    <b>Is there a (public) API?</b><br>
    Well, since this the frontend is written using pure <a href="https://www.angularjs.org/">AngularJS</a> a
    <a href="http://www.padrinorb.com/">Padrino</a> JSON Backend handles all the data.
    You can find documentation for the API on <a href="https://github.com/MateMonkey/api">GitHub</a>.
    There is also a dedicated test platform for you to test your scripts/apps running at
    <a href="http://playground.matemonkey.com">http://playground.matemonkey.com</a>.
    The API can be considered final, <b>however</b> some details might still change in the future
    (see the documentation for more information).
    </p>

    <p>
    <b>Is there a test API so I can test my ruby script that runs on my IoT refrigerator?</b><br>
    <a href="http://playground.matemonkey.com">Yes!</a>. (see above)
    </p>

    <p>
    <b>Is there an app for it?</b><br>
    Not yet, but I encourage you to write one!
    </p>

  </div>
</div>
</div>


