<div class="modal-header"><h3>Update Stock for {{dealer.name}}</h3></div>
<div class="modal-body">
<form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label">Product</label>
    <div class="col-sm-6">
      <select class="form-control" ng-model="stock.product" ng-options="product.id as product.name for product in products">
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Status</label>
    <div class="col-sm-6">
      <select class="form-control" ng-model="stock.status" ng-options="status.value as status.displayText for status in statusOptions">
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Price (in €)</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" ng-model="stock.price" placeholder="13.37">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">per</label>
      <div class="col-sm-4">
        <select class="form-control" ng-model="stock.quantity" ng-options="quantity.value as quantity.displayText for quantity in quantityOptions">
        </select>
      </div>
    <label class="col-sm-2 control-label">
      <input type="checkbox" ng-model="stock.special"> Special?
    </label>
  </div>
</form>
</div>
<div class="modal-footer">
  <div class="col-sm-1">
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
  </div>
  <div class="col-sm-1">
    <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
  </div>
</div>
