<div class="matemonkey_background"></div>
<div class="text-content" style="overflow-y:auto">

<h1>Links into the Mate Universe</h1>
<p>
This page is for general links about Yerba Mate and selected<br>
shops that sell accessories like cuias and bombillas.
</p>
<p>
If you own a shop or know one that should be on this page,<br>
send me an email or open an issue on <a href="https://github.com/MateMonkey/frontend/issues">GitHub</a>.
</p>

<h2>General Information</h2>
<ul>
  <li><a href="https://en.wikipedia.org/wiki/Yerba_mat%C3%A9">Yerba Mate in the english Wikipedia</a></li>
  <li><a href="http://www.swr.de/swr2/wissen/mate-gruenes-gold/-/id=661224/did=11821322/nid=661224/cfcolu/index.html">German article about mate (SWR2)</a></li>
  <li><a href="https://www.youtube.com/watch?v=66kMCoHFVXo">Short documentation on YouTube</a></li>
</ul>

<h2>Shops</h2>
<table class="table table-stripped">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Link</th>
  </tr>
  <tr>
    <td><b>Delicatino / mate-tee.de</b></td>
    <td>german online-shop with a very wide range of yerba mate brands and accessories</td>
    <td><a href="http://www.mate-tee.de/" target="_blank">www.mate-tee.de</a></td>
  </tr>
  <tr>
    <td><b>Meta Mate</b></td>
    <td>a small shop <a href="map/dealer/meta-mate" target="_blank">located in Berlin</a> which sells organic mate (own brand) and accessories</td>
    <td><a href="http://metamate.cc" target="_blank">metamate.cc</a></td>
  </tr>
  <tr>
    <td><b>Mercado Latino</b></td>
    <td>a shop in Munich's Viktualienmarkt which has a small selection of yerba mate brands</td>
    <td><a href="http://www.mercado-latino.de/" target="_blank">www.mercado-latino.de</a></td>
  </tr>
</table>
